extends layout/main
include mixins/illusteBlock

block here
    .square
        each content in illuste
            +illusteBlock({
                id:content.id,
                fileUrl:content.fileUrl,
                title:content.title,
                description:content.description
            })